@import './_variables.scss';
@import './_mixins.scss';

/*************************
Universal Style
*************************/
html {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  font-size: 1.6rem;
  color: $primary-font-color;
}

body, #content, .application-container {
  width: 100%;
  height: 100%;
}

/*************************
Background Style
*************************/
.application-container {
  background-image: url("../assets/bg.png");
  background-size: 100% 100%;
}

#content, .application-container {
  position: relative;
}

/*************************
Campaign Form Style
*************************/
.newcampaign-container {
  display: inline-block;
  width: 33%;
  height: auto;
  @include center-v-h();
  padding-bottom: 4%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

// Header Section
.first-page-header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.first-page-header h1 {
  text-align: center;
  vertical-align: middle;
}

// Create New Campaign Field Section
.newcampaign-form {
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
}

.campaign-field {
  @include center-h();
  width: 95% !important;
  height: 70px !important;
  margin-top: 10%;
}

.campaign-field div:first-child {
  @include center-h();
  width: fit-content !important;
  padding: 4% 0;
  font-weight: 700;
  font-size: 2.6rem;
}
input[name="campaign_name"] {
  padding-bottom: 4% !important;
  text-align: center;
  font-weight: 700 !important;
  font-size: 1.5rem !important;
  color: #636363 !important;
}

// Select Group Section
.first-page-radiobuttons-container {
  max-height: 40%;
  margin: 10% 0;
  padding: 0 7%;
  overflow: scroll;
}
.first-page-select-group-radio-buttons {
  padding: 0 !important;
  margin: 0 !important;
}
.first-page-title {
  margin-bottom: 3%;
  font-weight: 700;
  font-size: 1.2rem;
}
.first-page-select-group-radio-buttons {
  font-size: 1.0rem;
  margin-bottom: 1.5% !important;
}

// Action Button Section
.add-new-email {
  margin-left: 7% !important;
}
.campaign-form-next-buttons {
  margin-left: 7% !important;
}

.steps-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.second-page-add-steps-button {
  margin-top: 20px;
}

// Campaign Step Fields Section

.campaign-steps-email-body-container * {
  vertical-align: middle;
}

.campaign-steps-email-body-title {
  font-size: 1.0rem;
  align-items: left;
}

.campaign-steps-email-body {
  min-width: 300px;
  height: 20%;
}

// Campaign Summary
.campaign-summary-toolbar {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.campaign-summary-toolbar-title {
  font-size: 20px;
}

.campaign-summary-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.newcampaign-last-page-container {
  display: inline-block;
  width: 33%;
  min-height: 300px;
  @include center-v-h();
  padding-bottom: 2%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.campaign-summary-step-buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}