[AzureCloud]
endpoint_management = https://management.core.windows.net/
endpoint_resource_manager = https://management.azure.com/
endpoint_sql_management = https://management.core.windows.net:8443/
endpoint_batch_resource_id = https://batch.core.windows.net/
endpoint_gallery = https://gallery.azure.com/
endpoint_active_directory = https://login.microsoftonline.com
endpoint_active_directory_resource_id = https://management.core.windows.net/
endpoint_active_directory_graph_resource_id = https://graph.windows.net/
endpoint_active_directory_data_lake_resource_id = https://datalake.azure.net/
endpoint_vm_image_alias_doc = https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
suffix_storage_endpoint = core.windows.net
suffix_keyvault_dns = .vault.azure.net
suffix_sql_server_hostname = .database.windows.net
suffix_azure_datalake_store_file_system_endpoint = azuredatalakestore.net
suffix_azure_datalake_analytics_catalog_and_job_endpoint = azuredatalakeanalytics.net
subscription = bf5123df-0233-4754-a548-1e0f63298361

[AzureChinaCloud]
endpoint_management = https://management.core.chinacloudapi.cn/
endpoint_resource_manager = https://management.chinacloudapi.cn
endpoint_sql_management = https://management.core.chinacloudapi.cn:8443/
endpoint_batch_resource_id = https://batch.chinacloudapi.cn/
endpoint_gallery = https://gallery.chinacloudapi.cn/
endpoint_active_directory = https://login.chinacloudapi.cn
endpoint_active_directory_resource_id = https://management.core.chinacloudapi.cn/
endpoint_active_directory_graph_resource_id = https://graph.chinacloudapi.cn/
endpoint_vm_image_alias_doc = https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
suffix_storage_endpoint = core.chinacloudapi.cn
suffix_keyvault_dns = .vault.azure.cn
suffix_sql_server_hostname = .database.chinacloudapi.cn

[AzureUSGovernment]
endpoint_management = https://management.core.usgovcloudapi.net/
endpoint_resource_manager = https://management.usgovcloudapi.net/
endpoint_sql_management = https://management.core.usgovcloudapi.net:8443/
endpoint_batch_resource_id = https://batch.core.usgovcloudapi.net/
endpoint_gallery = https://gallery.usgovcloudapi.net/
endpoint_active_directory = https://login.microsoftonline.com
endpoint_active_directory_resource_id = https://management.core.usgovcloudapi.net/
endpoint_active_directory_graph_resource_id = https://graph.windows.net/
endpoint_vm_image_alias_doc = https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
suffix_storage_endpoint = core.usgovcloudapi.net
suffix_keyvault_dns = .vault.usgovcloudapi.net
suffix_sql_server_hostname = .database.usgovcloudapi.net

[AzureGermanCloud]
endpoint_management = https://management.core.cloudapi.de/
endpoint_resource_manager = https://management.microsoftazure.de
endpoint_sql_management = https://management.core.cloudapi.de:8443/
endpoint_batch_resource_id = https://batch.cloudapi.de/
endpoint_gallery = https://gallery.cloudapi.de/
endpoint_active_directory = https://login.microsoftonline.de
endpoint_active_directory_resource_id = https://management.core.cloudapi.de/
endpoint_active_directory_graph_resource_id = https://graph.cloudapi.de/
endpoint_vm_image_alias_doc = https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
suffix_storage_endpoint = core.cloudapi.de
suffix_keyvault_dns = .vault.microsoftazure.de
suffix_sql_server_hostname = .database.cloudapi.de

