body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
}

#login {
  margin: auto;
  width: 25%;
  padding-top:5%;
  text-align: center;
  background-color: #d3d3d3;
  border: 1px solid black;
}

#signup {
  margin: auto;
  width: 25%;
  padding-top:5%;
  text-align: center;
  background-color: #d3d3d3;
  border: 1px solid black;
}

#login-button {
  margin-bottom: 10px;
}

#signup-button {
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
}

#signup-link {
  margin: auto;
  text-align: center;
}